body {
font-family: 'Press Start 2P', cursive;
background: black;
/*background: url('img/pixelart.jpg');
  background-repeat: no-repeat;
width: 100%;
height:100%;
background-position: center center;*/
}

.lakitu {
    /*background: url("img/lakitu.png");*/
    top: 15%;
    left: -15%;
    width: 230px;
    height: 230px;
    z-index: 3;
    transform: translateZ(0);
    animation: anim 3s ease-in-out infinite;
    position: relative;
    float: right;
}

@keyframes anim {
  0%   { transform: translateY(10px) }
  50% { transform: translateY(-10px) }
  100% { transform: translateY(10px) }
}


h1 {
    color: white;
    display: flex; 
flex-direction: row; 
justify-content: center; 
align-items: center;
}

.gameBoard {
max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* for the 3d flip effect*/
    perspective: 1000px;
}


.front {
   background: url('img/question.png') no-repeat center center;
   background-size: contain;
}


.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.card {
    position: relative;
    /*to position the cards in the 3D space created in the parent*/
    transform-style: preserve-3d;
    transition: transform .5s;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.back {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotateY(180deg);
}

/* adding a click effect*/

.card:active {
   transform: scale(0.97);
   transition: transform .2s;
      

 }

 .card.display {
  transform: rotateY(180deg);
  border: 4px solid #00FFFF;
  
}

.card.disabled {
	pointer-events: none;
	opacity: 0.9;
}

/*https://stackoverflow.com/questions/11063325/align-html-elements-horizontally-in-a-div*/

.scoreBoard {
margin-bottom: 10px;
display: flex; 
flex-direction: row; 
justify-content: center; 
align-items: center;
}

.moves, .reset {
    color:#fff;
}

.timer {
/*display: inline-block;*/
color: #fff;
text-align: right;
margin: 0 1.1rem;
}

.stars {
  list-style: none;
  margin: 0 1.1rem;
}

.stars li {
      display: inline-block;
}

.stars i {
color: yellow;
}

/* -----------------------------------------------------------------*/

#memorygame {
padding-bottom: 30px;
margin-bottom: 20px;
}

#global {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(img/rainbowroad.png) no-repeat center center fixed;
    z-index: 1;
    /*background: black;*/
    overflow: hidden;
    text-align: center;
    background-size: cover;
    /*transform: translateZ(0);
    animation: animbg 3s ease-in-out infinite;*/
}


#menucontainer {
    position: fixed;
    bottom: auto;
    right: 0;
    top: 15%;
    left: 0;
    z-index: 2;
    text-align: center; /* so that the block child will be centered, in this case its the instructions */
}

#menu {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: #4190bb;
}

#menu div {
    padding: 0.1em 0 0 0;
    margin: 0 0;
    cursor: pointer;
    text-shadow: 0 0 10px rgb(255,255,255);
    transition: transform 0.2s ease;
    transform: translateZ(0px) scaleY(0.8);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 40%,rgba(255,255,255,0.5) 60%,rgba(255,255,255,0) 100%);
}

#menu div:hover {
  color: #f66439;
  transform: scaleY(1.1);
}


#start {
    font-size: 1.8em;
    color: #f66439;
    transform: translateZ(0);
}

/*#howtoplay {
             transform: translateZ(0);
    animation: anim 3s ease-in-out infinite;
}

#username {
             transform: translateZ(0);
    animation: anim 3s ease-in-out infinite;
}*/

/*#title {
    position: absolute;
    top: 5%;
    right: 0;
    bottom: 5%;
    left: 0;*/



#instructions{
    display: none;
        margin: auto; /* to center the block element */
        color: orange;
        font-size: 1.1em;
      }

#return {
    margin-top: 30px;
    display: none;
    color: white;
}